/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  background: #060D0D;
  height: 100px;
  width: 100%;
  position:fixed;
  z-index: 1;
}

.logo{
    width: 13vh;
    height: 13vh;
    position: absolute;
    top: -2.3vh;
    left: -1vh;
}

.rez-btn {
    background-color: #b5985e; /* boja pozadine dugmeta */
    color: #fff; /* boja teksta */
    padding: 10px 20px; /* unutrašnji razmak */
    border-radius: 1px; /* zaobljenje ivica */
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease; /* animacija prelaza boje */
}

.rez-btn:hover {
    background-color: #333; /* boja pozadine na prelasku */
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 100px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #b5985e;
  transition: .5s;
}

.checkbtn {
  font-size: 22px;
  color: white;
  float: right;
  line-height: 100px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.divbgslika{
  width: 100%;
  height: 150vh;
  background-image: url('pocetnasl.jpg');
  background-size: contain; /* Menja na contain da bi se prikazala cela slika */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0;
}

.sadrzajpocetna{
  text-align: center;
  color: #fff;
}

.sph1{
  color: #b5985e;
}
.sph2{
  padding-bottom: 30px;
}

.section-title {
  font-size: 2em;
  color: #060D0D;
  margin-bottom: 20px;
  margin-top: 50px;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
}
.section-title::after {
  content: "";
  display: block;
  width: 5em; /* Width of the underline */
  height: 3px; /* Thickness of the underline */
  background-color: #f1c40f; /* Color of the underline */
  margin: 10px auto 0; /* Spacing between text and underline */
  border-radius: 2px; /* Optional: Rounded corners */
}
.usluge{
  display: flex;
  justify-content: center;
}
.servicesdiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 20px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.grid-item p {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  font-size: 1.1em;
  text-transform: uppercase;
}

.grid-item:hover img {
  transform: scale(1.05);
}

.zastoiz{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.why-choose-us {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  padding: 20px;
}

.why-choose-us-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.why-image {
  width: 50%;
  border-radius: 8px;
}

.why-text {
  width: 50%;
}

.why-text h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

.why-text p {
  font-size: 1em;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}

.view-more-button {
  background-color: #b5985e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.view-more-button:hover {
  background-color: #555;
}
.features-section {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #060D0D;
  height: 90vh;
}

.features-content {
  flex: 1;
  color: #fff;
  text-align: center;
}

.features-content h2 {
  font-size: 2.7em;
  margin-bottom: 20px;
}

.features-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 2em;
  color: #b5985e;
}

.features-image {
  flex: 1;
}

.features-image img {
  width: 100%;
}
.container {
  display: flex;
  padding: 20px;
  border: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 90vh;
  align-items: center;
}

.text-section, .image-section {
  padding: 20px;
}

.text-section {
  flex: 1;
  padding: 40px;
}

.text-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.text-section p {
  color: #666;
  margin-bottom: 20px;
  line-height: 1.6;
}

.phone-number {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.phone-number span {
  display: block;
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button-container a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.button-container a.book {
  background-color: #b5985e;
}

.button-container a.quote {
  background-color: #666;
}

.button-container a:hover {
  opacity: 0.8;
}

.image-section {
  flex: 1;
  background-image: url('donjasl.jpg'); /* Replace with actual car image URL */
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.footer{
  background:#060D0D;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }

  .ftrlink.active,
  .ftrlink:hover {
    background: #060D0D;
    transition: .5s;
    color: #b5985e;
  }
a.active,
a:hover {
  background: #060D0D;
  transition: .5s;
}
  

@media (max-width: 1500px) {
  .divbgslika{
    background-image: url('pocetnasl.jpg');
  }
  .logo{
    width: 20vh;
    height: 20vh;
    position: absolute;
    top: -3vh;
    left: -2vh;
  }
  .feature-icon {
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
  }
  .features-content h2 {
    font-size: 1.8em;
    color: #fff;
    margin-bottom: 20px;
  }
  .feature-item p {
    font-size: 1em;
    color: #b5985e;
  }
}
@media (max-width: 1400px) {
    .logo{
        width: 23vh;
        height: 23vh;
        position: absolute;
        top: -3vh;
        left: -2vh;
        }
}

@media (max-width: 1050px) {
    .logo{
        width: 20vh;
        height: 20vh;
        position: absolute;
        top: -3vh;
        left: -2vh;
        }
}
@media (max-width: 900px) {
    nav ul li a {
        font-size: 16px;
        padding: 7px 8px;
     }
    .checkbtn {
        display: block;
      }
    
    .logo{
        width: 22vh;
        height: 22vh;
        position: absolute;
        top: -3vh;
        left: -1vh;
        }
    
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #060D0D;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    
    nav ul li {
        display: block;
        margin: 38px 0;
        line-height: 30px;
    }
    
    nav ul li a {
        font-size: 20px;
    }
    
    a:hover,
    a.active {
        background: #b5985e;
        color: white;
    }
    
    #check:checked~ul {
        left: 0;
    }
    
    
    section {
      background: url("bg.jpg") no-repeat;
      background-size: cover;
      height: calc(100vh - 100px);
    }
    .divbgslika{
      width: 100%;
      height: 100vh;
      background-image: url('pocetnasl.jpg');
      background-size: auto; /* Menja na contain da bi se prikazala cela slika */
      background-position: 80%;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 0;
    }
    .servicesdiv {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      gap: 20px;
      max-width: 1200px;
      margin: 20px;
    }
    .why-choose-us-container {
      flex-direction: column;
      text-align: center;
    }
  
    .why-image, .why-text {
      width: 100%;
    }
    .features-section {
      flex-direction: column-reverse;
      height: auto;
    }
  
    .features-content, .features-image {
      width: 100%;
    }
  
    .features-icons {
      grid-template-columns: 1fr;
    }
    .container {
      flex-direction: column;
    }

    .image-section {
        order: 2; /* Prikazuje sliku ispod teksta */ 
        width: 80vw;
        padding-top: 10px;
    }

    .text-section {
       order: 1; /* Prikazuje tekst iznad slike */
    }
    .quote{
      display: none;
    }
    .book{
      text-align: center;
    }
    .button-container{
      justify-content: center;
    }
    .container{
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      border-right: 0;
      border-left: 0;
    }
    .footer{
      text-align:left;
      padding:5%;
    }
    .footer .row ul li{
      display:block;
      margin:10px 0px;
      text-align:left;
    }
    .footer .row a i{
      margin:0% 3%;
    }
    .ftrul{
      background: #060D0D;
    }
    .row{
      text-align: center;
    }
}


/* Responsive media query code for small screen */
@media (max-width: 700px) {
    .logo{
        width: 17.8vh;
        height: 17.8vh;
        position: absolute;
        top: -3vh;
        left: -1vh;
        }
}
@media (max-width:500px) {
}
@media (max-width: 376px) {
    .logo{
        width: 21vh;
        height: 21vh;
        position: absolute;
        top: -3vh;
        left: -1vh;
        }
}
@media (max-width: 345px) {
    .logo{
        width: 17.8vh;
        height: 17.8vh;
        position: absolute;
        top: -3vh;
        left: -1vh;
        }
}